.div_menu {
    background-color: black;
    margin-bottom: 10px;
}

.menu {
    text-transform: uppercase;
    color: white;
}

.footer {
    color: white;
    background-color: black;
    text-align: center;
}

.footer-alamat {
    color: white;
    background-color: black;
    text-align: center;
}

p {
    font-size: 14px;
    text-align: justify;
}